@using Viettel.Models.QLVonDauTu
@model List<VdtBcTheoDoiChiTieuCapPhatModel>
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}
<script src="~/Scripts/jsNumber.js"></script>

<div class="tooltip-header-search">
    <div class="col-sm-8" style="display:flex;padding-left:0px;">
        <label class="control-label color-text-red">Báo cáo tổng hợp nguồn BTC cấp trong năm </label>
    </div>
</div>

<div class="tableFixHead">
    <table class="table table-bordered" id="baocaoTDCTCPDA">
        <thead>
            <tr class="text-center" style="background-color: #06A199; color:white">
                <th style="width:50px" rowspan="3">STT</th>
                <th style="min-width:300px" rowspan="3">Dự án, công trình - Đơn vị</th>
                <th style="width:500px" colspan="7">Quyết định phê duyệt dự án đầu tư</th>
                <th style="width:100px" rowspan="3">Vốn bố trí hết năm trước</th>
                <th style="width:100px" rowspan="3">Chỉ tiêu ngân sách năm</th>
                <th colspan="3">Số đã giải ngân, thanh toán</th>
                <th colspan="3">Ứng ngoài chỉ tiêu</th>
                <th style="width:100px" rowspan="3">Số ứng còn phải thu tiếp</th>
                <th style="width:100px" rowspan="3">Số chỉ tiêu còn lại chưa cấp</th>
                <th style="width:100px" rowspan="3">Số vốn còn phải bố trí tiếp</th>
            </tr>
            <tr class="text-center" style="background-color: #06A199; color:white">
                <th style="min-width:120px" rowspan="2">Số quyết định</th>
                <th style="min-width:120px" rowspan="2">Ngày duyệt</th>
                <th style="min-width:120px" rowspan="2">Tiến độ</th>
                <th style="min-width:120px" colspan="4">Tổng mức đầu tư</th>
                <th style="min-width:120px" rowspan="2">Thanh toán</th>
                <th style="min-width:120px" rowspan="2">Tạm ứng</th>
                <th style="min-width:120px" rowspan="2">Thu ứng</th>
                <th style="min-width:120px" rowspan="2">Tổng</th>
                <th style="min-width:120px" rowspan="2">Cấp tại Kho bạc</th>
                <th style="min-width:120px" rowspan="2">Cấp bằng lệnh chi</th>
            </tr>
            <tr class="text-center" style="background-color:#06A199; color:white">
                <th style="min-width:120px">NSQP</th>
                <th style="min-width:120px">NSNN</th>
                <th style="min-width:120px">Khác</th>
                <th style="min-width:120px">Tổng</th>
            </tr>
            <tr class="text-center" style="background-color: #06A199; color:white">
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>18</th>
                <th>19</th>
                <th>20</th>
            </tr>
        </thead>
        @{
            int i = 1;
            foreach (var item in Model)
            {
                string sNgayDuyet = !item.dNgayQuyetDinh.HasValue ? string.Empty : item.dNgayQuyetDinh.Value.ToString("dd/MM/yyyy");
                <tr>
                    <td style="text-align:center">@i</td>
                    <td>@item.sTenDuAn</td>
                    <td>@item.sSoQuyetDinh</td>
                    <td style="text-align:center">@sNgayDuyet</td>
                    <td style="text-align:center">@item.sTienDo</td>
                    <td style="text-align:right">@string.Format("{0:0,0}", item.fTmdtNsqp)</td>
                    <td style="text-align:right">@string.Format("{0:0,0}", item.fTmdtNsnn)</td>
                    <td style="text-align:right">@string.Format("{0:0,0}", item.fTmdtKhac)</td>
                    <td style="text-align:right">@string.Format("{0:0,0}", item.fTongMucDauTu)</td>
                    <td style="text-align:right">@string.Format("{0:0,0}", item.fChiTieuNamTruoc)</td>
                    <td style="text-align:right">@string.Format("{0:0,0}", item.fChiTieuNamNay)</td>
                    <td style="text-align:right">@string.Format("{0:0,0}", item.fThanhToan)</td>
                    <td style="text-align:right">@string.Format("{0:0,0}", item.fTamUng)</td>
                    <td style="text-align:right">@string.Format("{0:0,0}", item.fThuHoiUng)</td>
                    <td style="text-align:right">@string.Format("{0:0,0}", item.fKeHoachVonNam)</td>
                    <td style="text-align:right">@string.Format("{0:0,0}", item.fCapPhatKhoBac)</td>
                    <td style="text-align:right">@string.Format("{0:0,0}", item.fCapPhatCQTC)</td>
                    <td style="text-align:right"></td>
                    <td style="text-align:right">@string.Format("{0:0,0}", item.fChiTieuConLaiChuaCapPhat)</td>
                    <td style="text-align:right">@string.Format("{0:0,0}", item.fVonPhaiBoTriTiep)</td>
                </tr>
                i++;
            }
        }
    </table>
</div>