@using Viettel.Models.CPNH
@model CPNHNhuCauChiQuy_Model
<input type="hidden" id="iID_NhuCauChiQuyModalTongHop" value="@Model.ID">
<input type="hidden" id="txtDxModified" />
<input type="hidden" id="txtDxAggregate" />
<input type="hidden" id="txtDetail" />
<div class="modal-body">
    <div class="form-group">
        <div class="form-group row">
            <div class="col-sm-6">
                <label>Số đề nghị</label>
                <br />
                <label>@Html.Raw(Html.Encode(Model.sSoDeNghi))</label>
            </div>
            <div class="col-sm-6">
                <label>Ngày đề nghị</label>
                <br />
                <label>@Model.dNgayDeNghiStr</label>
            </div>
        </div>
        @{
            if (ViewBag.LstTongHop != null)
            {
                if (ViewBag.LstTongHop.Count > 0)
                {
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="txtsMaTienTeGoc">Năm</label>
                            <br />
                            <label>@Html.Raw(Html.Encode(ViewBag.LstTongHop[0].iNamKeHoach))</label>
                        </div>
                        <div class="col-sm-6">
                            <label for="txtsMotaTyGia">Quý</label>
                            <br />
                            <label>Quý @ViewBag.LstTongHop[0].iQuy</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="txtsMaTienTeGoc">B quản lý</label>
                            <br />
                            <label for="txtsMaTienTeGoc">@Html.Raw(Html.Encode(ViewBag.LstTongHop[0].BPhongBan))</label>
                        </div>
                    </div>
                }
                if (ViewBag.IsAggregate)
                {
                    <div class="form-group row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <table class="table table-bordered tr-hover">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Số kế hoạch</th>
                                        <th>Ngày kế hoạch</th>
                                        <th>Đơn vị</th>
                                        <th>Chi ngoại tệ (USD)</th>
                                        <th>Chi ngoại tệ (VND)</th>
                                        <th>Chi trong nước (VND)</th>
                                        <th>Chi trong nước (USD)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var item in ViewBag.LstTongHop)
                                        {
                                            <tr>
                                                <td align="center">@Html.Raw(Html.Encode(item.STT))</td>
                                                <td>@Html.Raw(Html.Encode(item.sSoDeNghi))</td>
                                                <td align="center">@item.dNgayDeNghiStr</td>
                                                <td>@Html.Raw(Html.Encode(item.BQuanLy))</td>
                                                <td>@item.fTongChiNgoaiTeUSD</td>
                                                <td>@item.fTongChiNgoaiTeVND</td>
                                                <td>@item.fTongChiTrongNuocVND</td>
                                                <td>@item.fTongChiTrongNuocUSD</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>
<div class="modal-footer">
    <div class="text-center">
        <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
    </div>
</div>