@using Viettel.Models.KeHoachChiTietBQP;
@using Viettel.Domain.DomainModel;
@model NH_KHChiTietBQPViewModel

<div class="tooltip-header-search">
    <div class="col-sm-8" style="display:flex;padding-left:0px;">
        <label class="control-label">Danh mục chương trình (@Model._paging.TotalItems)</label>
    </div>
    <button class="btn btn-info pull-right" onclick="ResetChangePage();"><i class="fa fa-refresh" aria-hidden="true"></i>Làm mới</button>
</div>

<table class="table table-bordered tr-hover" id="tblDMChuongTrinhList">
    <thead class="header-search">
        <tr>
            <th width="5%"></th>
            <th width="45%">
                <input type="text" class="form-control event-filter" id="txtTenNhiemVuChi" autocomplete="off" placeholder="Tên chương trình, nhiệm vụ chi" />
            </th>
            <th width="25%">@Html.DropDownList("iID_BQuanLyID", (SelectList)(ViewBag.LookupPhongBan), new { @class = "form-control event-filter-dropdown", @id = "iID_BQuanLyID" })</th>
            <th width="15%">@Html.DropDownList("iID_DonViID", (SelectList)(ViewBag.LookupDonVi), new { @class = "form-control event-filter-dropdown", @id = "iID_DonViID" })</th>
            <th width="10%"><button class="btn btn-info" onclick="GetListData()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button></th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th width="5%">STT</th>
            <th width="45%">Tên chương trình, nhiệm vụ chi</th>
            <th width="25%">B Quản lý</th>
            <th width="25%" colspan="2">Đơn vị</th>
        </tr>
    </thead>
    <tbody id="tbodyListChuongTrinh">
        @{
            foreach (NH_KHChiTietBQPModel item in Model.Items)
            {
                <tr style="background-color:white;">
                    <td align="left" colspan="5" style="color: #e85c5c; cursor: pointer" onclick="ToogleRow(this)" data-id="@item.ID" data-ishaschild="false">Kế hoạch sử dụng Quỹ dự trữ ngoại hối được Bộ trưởng Bộ Quốc phòng phê duyệt năm @Html.Raw(Html.Encode(item.sNam)) theo quyết định số: @Html.Raw(Html.Encode(item.sSoKeHoach))</td>
                </tr>
            }
        }
    </tbody>
</table>

@Html.BuildPagingButtons(Model._paging)

<script type="text/javascript">
    $(document).ready(function () {
        $("#iID_BQuanLyID").select2({ dropdownAutoWidth: true, matcher: FilterInComboBox });
        $("#iID_DonViID").select2({ dropdownAutoWidth: true, matcher: FilterInComboBox });

        // Check enter filter
        $('.event-filter').on('keypress', function (e) {
            if (e.which === 13) {
                GetListData();
            }
        });

        $('.event-filter-dropdown').on('change', function () {
            GetListData();
        });
    });
</script>
