@using Viettel.Models.QLNH
@using DomainModel
@using Viettel.Domain.DomainModel
@using System.Globalization;
@model NHDAThongTinDuAnViewModel

@{
    int pageIndex = (Model._paging.CurrentPage - 1) * Model._paging.ItemsPerPage;
}
<div class="tooltip-header-search">
    <div class="col-sm-8" style="display:flex;padding-left:0px;">
        <label class="control-label">Tổng hợp thông tin dự án (@Model._paging.TotalItems)</label>
    </div>
    <button class="btn btn-info pull-right" style="margin-right:10px;" onclick="ResetChangePage()"><i class="fa fa-refresh" aria-hidden="true"></i>Làm mới</button>
    <button class="btn btn-info pull-right btn-print" style="margin-right:10px;" data-ext="xlsx" ><i class="fa fa-print" aria-hidden="true"></i>Export</button>
</div>
<table border="1" cellpadding="0" cellspacing="0" class="table table-bordered tr-hover" id="tblThongTinDuAnList">
    <thead class="header-search">
        <tr>
            <th width="6%"></th>
            <th width="10%">
                @Html.DropDownList("slbBQuanLyFilter", (SelectList)Model.ListPhongBan, new { @class = "form-control", @id = "slbBQuanLyFilter", @onchange = "ChangePage()" })
            </th>
            <th width="10%">
                @Html.DropDownList("slbsDonViFilter", (SelectList)Model.ListDonVi, new { @class = "form-control", @id = "slbsDonViFilter", @onchange = "ChangePage()" })
            </th>
            <!--<th width="9%">-->
            @*<select id="slbChuDauTuFilter" name="slbChuDauTuFilter" class="form-control">
            @if (Model.ListChuDauTu != null && Model.ListChuDauTu.Count > 0)
            {
                foreach (var donvi in Model.ListChuDauTu)
                {
                    <option value="@donvi.ID" data-madonvi="@donvi.sId_CDT">@Html.Raw(donvi.sTenCDT)</option>
                }
            }
            </select>*@

            <!--</th>
            <th width="9%">-->
                    @*<select id="slbPhanCapPheDuyetFilter" name="slbPhanCapPheDuyetFilter" class="form-control">
                    @if (Model.ListDanhMucPCPD != null && Model.ListDanhMucPCPD.Count > 0)
                    {
                        foreach (var donvi in Model.ListDanhMucPCPD)
                        {
                            <option value="@donvi.ID" data-madonvi="@donvi.ID">@Html.Raw(donvi.sTen)</option>
                        }
                    }
                </select>*@

                    <!--</th>
            <th width="8%"></th>
            <th width="9%"></th>
            <th width="8%"></th>
            <th width="9%"></th>
            <th width="9%"></th>
            <th width="9%"></th>-->
            <th width="74%" colspan="8"><button class="btn btn-info pull-right" onclick="ChangePage()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button></th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th rowspan="2">STT</th>
            <th rowspan="2">B Quản lý</th>
            <th rowspan="2" width="10%">Dự án - Đơn vị</th>
            <th colspan="2">Chủ trương đầu tư</th>
            <th colspan="2">Quyết định đầu tư</th>
            <th colspan="4">Tổng mục đầu tư phê duyệt</th>
        </tr>
        <tr>
            <th width="9%">Số quyết định</th>
            <th width="8%">Ngày quyết định</th>
            <th width="9%">Số quyết định</th>
            <th width="8%">Ngày quyết định</th>
            <th width="10%">USD</th>
            <th width="10%">VND</th>
            <th width="10%">EUR</th>
            <th width="10%">Ngoại tệ khác</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model.Items != null)
            {

                int index = 0;
                foreach (var item in Model.Items)
                {
                    index++;
                    <tr>
                        <td class="text-center">@(pageIndex + index)</td>
                        <td class="text-left">@Html.Raw(Html.Encode(item.sBQuanLy))</td>
                        <td class="text-left">@Html.Raw(Html.Encode(item.sTenDuAn)) - @Html.Raw(Html.Encode(item.sDonVi))</td>
                        <td class="text-left">@Html.Raw(Html.Encode(item.sSoChuTruongDauTu))</td>
                        <td class="text-center">@Html.Raw(item.dNgayChuTruongDauTu.HasValue ? item.dNgayChuTruongDauTu.Value.ToString("dd/MM/yyyy") : string.Empty)</td>
                        <td class="text-left">@Html.Raw(Html.Encode(item.sSoQuyetDinhDauTu))</td>
                        <td class="text-center">@Html.Raw(item.dNgayQuyetDinhDauTu.HasValue ? item.dNgayQuyetDinhDauTu.Value.ToString("dd/MM/yyyy") : string.Empty)</td>
                        <td class="text-right">@Html.Raw(item.fGiaTriUSD.HasValue ? CommonFunction.DinhDangSo(item.fGiaTriUSD.Value.ToString(CultureInfo.InvariantCulture), 2) : string.Empty)</td>
                        <td class="text-right">@Html.Raw(item.fGiaTriVND.HasValue ? CommonFunction.DinhDangSo(Math.Round(item.fGiaTriVND.Value).ToString(CultureInfo.InvariantCulture), 0) : string.Empty)</td>
                        <td class="text-right">@Html.Raw(item.fGiaTriEUR.HasValue ? CommonFunction.DinhDangSo(item.fGiaTriEUR.Value.ToString(CultureInfo.InvariantCulture), 2) : string.Empty)</td>
                        <td class="text-right">@Html.Raw(item.fGiaTriNgoaiTeKhac.HasValue ? CommonFunction.DinhDangSo(item.fGiaTriNgoaiTeKhac.Value.ToString(CultureInfo.InvariantCulture), 2) : string.Empty)</td>
                    </tr>
                    }
                }
            }
    </tbody>
</table>
<input type="hidden" id="urlExport" value="@Url.Action("ExportExcelBaoCao")" />
@Html.BuildPagingButtons(Model._paging)

<script type="text/javascript">
    
    $(document).ready(function () {
        $("#slbBQuanLyFilter").select2({ width: '100%', matcher: FilterInComboBox });
        $("#slbsDonViFilter").select2({ width: '100%', matcher: FilterInComboBox });

        $(".btn-print").click(function () {
            var links = [];
            var ext = $(this).data("ext");
            //var dvt = $("#dvt").val();
            var iDonVi = $("#slbsDonViFilter").val();
            var iBQuanLy = $("#slbBQuanLyFilter").val();
            debugger;
            var url = $("#urlExport").val() +
                "?ext=" + ext +
                "&dvt=1000&iDonVi=" + iDonVi + "&iBQuanLy=" + iBQuanLy;

            url = unescape(url);
            links.push(url);

            openLinks(links);
        });
    });
</script>



